<div class="detail">
    <h1>{{ title }} Detail</h1>
    @for (item of detailIter; track $index) {
        @if (item[0] !== 'description' && item[0] !== 'category') {
            <div class="detail_item">
                <p class="detail_item_key">{{item[0]}}</p>
                <span class="detail_item_dots"></span>
                <p>{{item[1]}}</p>
            </div>
        }
    }

    <p>
        {{ detail.description }}
    </p>

    @if (detail.category) {
        <h1>Movie's Category Detail</h1>
        @for (item of categoryIter; track $index) {
            @if (item[0] !== 'description') {
                <div class="detail_item">
                    <p class="detail_item_key">{{item[0]}}</p>
                    <span class="detail_item_dots"></span>
                    <p>{{item[1]}}</p>
                </div>
            }
        }
    }

    <p>
        {{ categoryDesc }}
    </p>
</div>
