<mat-form-field class="field">
    <mat-label>Title </mat-label>
    <input matInput name="title" type="text" [(ngModel)]="createCategory.title">
</mat-form-field>
@if (!!errorObj?.['Title']) {
    <mat-error class="field_error">{{errorObj?.['Description']}}</mat-error>
}
<mat-form-field class="field">
    <mat-label>Description</mat-label>
    <input matInput name="description" type="text" [(ngModel)]="createCategory.description">
</mat-form-field>
@if (!!errorObj?.['Description']) {
    <mat-error class="field_error">{{errorObj?.['Description']}}</mat-error>
}
<mat-form-field class="field">
    <mat-label>Age Restriction</mat-label>
    <input matInput name="ageRestriction" type="number" [(ngModel)]="createCategory.ageRestriction">
</mat-form-field>
@if (!!errorObj?.['AgeRestriction']) {
    <mat-error class="field_error">{{errorObj?.['Description']}}</mat-error>
}
<div class="buttons">
    <button mat-stroked-button (click)="clearForm()" color="accent">Clear</button>
    <button mat-stroked-button (click)="submitForm()" color="primary">Submit</button>
</div>
